@charset "utf-8";
/* CSS Document */

body {font-family: Carrois Gothic SC;}

#container {
	width: 100%;
}

#container2 {
	width: 100%;
	max-height: 1000px;
}

.box {
	position:relative; 
	padding: .5%;
}

.sponsor {
	font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
	width: 16.66%;
}

a:link, a:visited {
    display: block;
    width: 9em;
    color: #FFFFFF;
    text-align: center;
    padding-left: 12%;
	padding-right: 12%;
    text-decoration: none;
    text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
}

a.linkhover:hover, a:active {
    background-color:rgba(116,0,1, 1.00);
}

img {
	border-radius: 10px;
}

#viewport{
        width: 240px;
        overflow:hidden;
}
#viewport ul{
        position: relative;
        padding: 0;
}
#viewport li{
        width: 100px;
        height: 50px;
        float: left;
        list-style: none;
}

div.ic_myCarousel {
	margin: 100px auto 0 auto;
	clear:right;
	background: white;
}
.ic_myCarousel .ic_button {
	background: black;
	width: 10px;
	height: 10px;
	position: relative;
	float: left;
	margin-right: 6px;
	border-radius: 10px;
	margin-top: 1px;
	border: 1px solid #eee;
}
.ic_myCarousel .ic_thumbnails {
	box-shadow: 0px 1px 4px #666;
	position: relative;
	overflow: auto;
	border-radius: 10px;
	padding: 2px 6px;
	height: 14px;
	margin: 0 auto;
	display: inline-block;
	background: rgba(116,0,1, 1.00);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#bbbbbb',GradientType=0 );
}

/* keep this after the ic_button code for proper border coloring */		
.ic_myCarousel2 .ic_active, .ic_myCarousel .ic_active, .ic_vidCarousel .ic_active  {
	background: #fff;
}

div p {
    color: #333333;
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    font-size: 18px;
    text-shadow: 0 1px 1px #C9C9C9;
}
.options {
	font-size: 16px;
}

nav ul {
	text-align:center; 
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	line-height:1.5em;
	z-index: 10;
	width:100%;
 }
 
nav ul li {
	float:left;
	display:inline;
	background-color:rgba(116,0,1, 1.00);
 }

nav ul li a {display:block;padding:15px 25px;color:white; border-radius:3px;
}

nav ul li a:hover {
	color:white;
	background:rgba(211,166,37,1.00);
}
 
nav ul li ul {position:absolute; width:100%;
background-color:rgba(116,0,1, 1.00);
z-index: 10;
}
nav ul li ul li {margin:0;padding:0;width:100%;}
nav ul li ul li a {display:block; width:100%;color:#444; z-index: 98;
text-transform: uppercase;
font-weight: bold;
font-size: small;
color: #000;
padding: .2em ;
display: block;
}

nav ul li ul li:hover a {background:rgba(116,0,1, 1.00); color:white;}

#diva {width: 100%; font-size:50px; text-align: center;}

#divb {width: 20%; height: 220px; left: 20%; bottom: 80%; right: 5px;}

#divc {width: 20%; height: 220px; left: 40%; bottom: 80%; right: 5px;}

#divd {width: 20%; height: 220px; left: 60%; bottom: 80%; right: 5px;}

#dive {width: 20%; height: 220px; left: 80%; bottom: 80%; right: 5px;}

#divf {height: 200px; width: 100%;}

.center{
	text-align:center;
}

#container .Title {
	margin: -45px auto 95px;
	font-size: xx-large;
	width: 455px;
	text-align:center;
}
#container .info {
	min-width: 0px;
	width: 275px;
	height: 215px;
	border-radius: 10px;
	background-color: #740001;
	margin-top: -467px;
	margin-left: 5px;
	bottom: 50px;
}
#container .info2 {
	min-width: 0px;
	width: 275px;
	height: 215px;
	border-radius: 10px;
	background-color: #740001;
	margin-left: 5px;
	bottom: 20px;
}
#container .info3 {
	min-width: 0px;
	width: 275px;
	height: 215px;
	border-radius: 10px;
	background-color: #740001;
	margin-left: 60%;
	top: 20px;
}
#container .info4 {
	min-width: 0px;
	width: 275px;
	height: 215px;
	border-radius: 10px;
	background-color: #740001;
	margin-left: 625px;
	top:40px;
}
#container .info5 {
	min-width: 0px;
	width: 550px;
	height: 215px;
	border-radius: 10px;
	background-color: #740001;
	margin-left: 400px;
	margin-top: -145px;
}
#container .info6 {
	min-width: 0px;
	width: 275px;
	height: 480px;
	border-radius: 10px;
	background-color: #740001;
	margin-left: 625px;
	margin-top: -755px;
}

.font2{
	font-family: Playball;
}

.fontinfo {
	font-family: Playball;
	margin-left: 354px;
	margin-bottom: 0px;
	margin-top: -271px;
}

#divcontent2{
	right: 26px;
	bottom: 15px;	
}

#divcontent4{
	right: 26px;
	bottom: 15px;	
}

#divcontent5{
	bottom: 15px;	
}

#divcontent6 {
	top:20px;
	right: 30px;
}

#divform {
	width: 600px;
	height: 500px;
	margin: 0 auto;
	left: 150px;
	top: 75px;
}

#divleft {
	width: 250px;
	height: 700px;
	background:rgba(116,0,1, 1.00);
	border: solid thin rgba(116,0,1, 1.00);
	float: left;
}

#divright {
	width: 250px;
	height: 700px;
	background:rgba(116,0,1, 1.00);
	float: right;
	left: 272px;
	bottom: 558px;
	border: solid thin rgba(116,0,1, 1.00);
}

#divheader {
	width: 420px;
	height: 65px;
	left: 300px;
	bottom: 451px;

}

#divmedia {
	right: 30px;
}

#divside {
	width: 318px;
	height: 700px;
	background:rgba(116,0,1, 1.00);
	border: solid thin rgba(116,0,1, 1.00);
	float: left;
}
	
#container2 table {
	max-height: 1000px;
}

#divabtleftbar {
	width: 318px;
	background-color: #d3a625;
	height: 887px;
	border: solid thin rgba(116,0,1, 1.00);
}

.abvid1 video {
	width: 327px;
	height: 320px;
	background-color: #d3a625;
}
.abvid2 video {
	width: 327px;
	height: 320px;
}

#divabout{
	font-size:x-large;
	text-align:center;
	width: 750px;
	height: 100px;
	left: 400px;
	bottom: 800px;
}

.button {
	border-radius: 15px;
	width: 550px;
	border: solid black 4px;
	text-align: center;
	height: 55px;
	padding-bottom: 5px;
}

.headers {
	color:black;
	text-align:center;
	font-family: Playball;
}

.buttons {
	background-color: rgba(116 , 0, 1 , 1.00);
	right: auto;
}

#divwholeslide{
	width: 600px;
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 48px;
}


.outline {
	border:solid red medium;
	background-color: black;
}

#wrapper {width: 900px;
			margin: 0 auto;
}

#logo {margin: 0 auto; 

}
