<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Carrois Gothic SC">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Playball">


    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.css" rel="stylesheet">



    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <style>
        .large{
            font-size: 750%;
        }

        .icon{

            margin-right: 10px;
        }
        /*Redefined the bootstap btn-sm class
          to only kick-in at the desired breakpoints
         */
        @media (min-width: 768px) and (max-width: 850px){
            .sm-btn{
                padding: 5px 10px;
                font-size: 12px;
                line-height: 1.5;
                border-radius: 3px;
            }
        }

    </style>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Homepage</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <img class="img-circle" src="images/logo.png">

            <h3> Name </h3>
            <h3> Academic year </h3>
            <h3> Department </h3>
        </div>
    </div>
</div>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Dashboard</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">


            <button type="button" id="button" class="btn sm-btn btn-primary col-sm-12">
                <span  class="glyphicon glyphicon-folder-open icon" ></span> Projects</button>

        </div>
        <div class="col-xs-6 col-sm-3 placeholder">


            <button type="button" id="requestButton" class="btn sm-btn btn-primary col-sm-12 ">
                <span class="glyphicon glyphicon-tasks icon" ></span> Requests</button>

        </div>
        <div  class="col-xs-6 col-sm-3 placeholder">


            <button id="emailButton"  type="button" class="btn sm-btn btn-primary col-sm-12">
                <span class="glyphicon glyphicon-envelope icon" ></span> Email</button>

        </div>
        <div class="col-xs-6 col-sm-3 placeholder">


            <button id="userButton" type="button" class="btn sm-btn btn-primary col-sm-12">
                <span class="glyphicon glyphicon-user icon" ></span> Users</button>

        </div>

        <div id="user">
            <div class="pull-right col-xs-6 col-sm-3 placeholder">


                <button id="userCreateButton" type="button" data-toggle="modal" data-target="#userCreateFormButton" class="btn sm-btn btn-primary col-sm-12">
                    <span class="glyphicon glyphicon-user icon" ></span> Create User</button>

            </div>
        </div>



    </div>


    <div id="dynView" data-viewType="$viewType" data-userId="$userId" class="table-responsive">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>Manager</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td><div class="btn btn-primary col-sm-6">Request Access</div></td>
            </tr>
            <tr>
                <td>1,002</td>
                <td>amet</td>
                <td>consectetur</td>
                <td>adipiscing</td>
                <td><div class="btn btn-success col-sm-6">Project Page</div></td>
            </tr>
            <tr>
                <td>1,003</td>
                <td>Integer</td>
                <td>nec</td>
                <td>odio</td>
                <td><div class="btn btn-primary col-sm-6">Request Access</div></td>
            </tr>
            <tr>
                <td>1,003</td>
                <td>libero</td>
                <td>Sed</td>
                <td>cursus</td>
                <td><div class="btn btn-success col-sm-6">Project Page</div></td>
            </tr>
            <tr>
                <td>1,004</td>
                <td>dapibus</td>
                <td>diam</td>
                <td>Sed</td>
                <td><div class="btn btn-primary col-sm-6">Request Access</div></td>
            </tr>
            <tr>
                <td>1,005</td>
                <td>Nulla</td>
                <td>quis</td>
                <td>sem</td>
                <td><div class="btn btn-success col-sm-6">Project Page</div></td>
            </tr>
            <tr>
                <td>1,006</td>
                <td>nibh</td>
                <td>elementum</td>
                <td>imperdiet</td>
                <td><div class="btn btn-success col-sm-6">Project Page</div></td>
            </tr>
            <tr>
                <td>1,007</td>
                <td>sagittis</td>
                <td>ipsum</td>
                <td>Praesent</td>
                <td><div class="btn btn-success col-sm-6">Project Page</div></td>
            </tr>

            </tbody>
        </table>

    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--<script src="../js/jquery-3.2.0.min.js"></script>-->
<!--<script> $(document).ready(function(){-->
<!--console.log('jquery loaded');-->
<!--});-->
<!--</script>-->
<!--<script>window.jQuery || document.write('<script src="../js/jquery-3.2.0.min.js"><\/script>')</script>-->
<script src="../bootstrap.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!--<script src="../../../../../../../Bootstrap/bootstrap-3.3.7/bootstrap-3.3.7/docs/assets/js/vendor/holder.min.js"></script>-->
<!--<script src="../js/dashboard_partial.js"></script>-->

</body>
</html>
