<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Carrois Gothic SC">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Playball">


    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">

    <style>
        .large{
            font-size: 750%;
        }

        .icon{

            margin-right: 10px;
        }
        /*Redefined the bootstap btn-sm class
          to only kick-in at the desired breakpoints
         */
        @media (min-width: 768px) and (max-width: 850px){
            .sm-btn{
                padding: 5px 10px;
                font-size: 12px;
                line-height: 1.5;
                border-radius: 3px;
            }
        }

    </style>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Home.html">Homepage</a></li>
                <li><a href="public/html/login.html">Logout</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <img class="img-circle" src="../images/logo.png">

            <h3> Name </h3>
            <h3> Academic year </h3>
            <h3> Department </h3>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row placeholders">
            ##                add conditional logic to render buttons based on user type.
            #if($viewType == 0) ## admin login
                #parse("/velocity/admin_buttons.vm")
            #elseif($viewType == 1) ## professor login
                #parse("/velocity/professor_buttons.vm")
            #else ## student login
                #parse("/velocity/student_buttons.vm")
            #end

            </div>

            <h2 class="sub-header">Section title
                #if($viewType == 0)
                    <div class="pull-right col-xs-6 col-sm-3 placeholder">


                        <button id="userCreateButton" type="button" data-toggle="modal" data-target="#userCreateFormButton" class="btn sm-btn btn-primary col-sm-12">
                            <span class="glyphicon glyphicon-user icon" ></span> Create User</button>

                    </div>
                #end
            </h2>
            <div id="dynView" data-viewType="$viewType" data-userId="$userId" class="table-responsive">
                #if ($viewType == 0) ## admin
                    #parse("/velocity/admin_partial.vm") ## admin by default sees the project requests
                #else
                    #parse("/velocity/project_partial.vm") ## students/professors by default see the project listing
                #end


            </div>
        </div>
    </div>
</div>


<div class="modal" id="userCreateFormButton" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
            </div>

                        <div class="modal-body">
                            <form>
                                <label>Choose User Type:</label>
                                <br/>
                                <label class="radio-inline">
                                    <input type="radio" name="User" value="0"> Admin
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="User" value="1">Professor
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="User" value="2">Student
                                </label>
                            </form>
                            <form>
                                <div class="form-group">
                                    <label for="FirstName">First name</label>
                                    <input type="text" class="form-control" id="FirstName" placeholder="Enter the user's first name.">
                                </div>
                                <div class="form-group">
                                    <label for="LastName">Last name</label>
                                    <input type="text" class="form-control" id="LastName" placeholder="Enter the user's last name.">
                                </div>
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="text" class="form-control" id="Email" placeholder="Enter the user's email.">
                                </div>
                                <div class="form-group">
                                    <label for="Password">Password</label>
                                    <input type="text" class="form-control" id="Password" placeholder="Enter the user's password.">
                                </div>
                            </form>

            </div>

            <div class="modal-footer">
                <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="createUser" data-dismiss="modal" type="button" class="btn btn-primary">Submit Changes</button>
            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="../js/jquery-3.2.0.min.js"></script>
    <script> $(document).ready(function(){
        console.log('jquery loaded');
    });
    </script>
    <!--<script>window.jQuery || document.write('<script src="../js/jquery-3.2.0.min.js"><\/script>')</script>-->
    <script src="../js/bootstrap.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!--<script src="../../../../../../../Bootstrap/bootstrap-3.3.7/bootstrap-3.3.7/docs/assets/js/vendor/holder.min.js"></script>-->
    <script src="../js/dashboard_partial.js"></script>

</body>
</html>