<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel="stylesheet prefetch" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900">
    <link rel="stylesheet prefetch" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/styleLogin.css">


</head>

<body>

<div class="container">
    <div class="info"></div>
</div>
<div class="form">
    <div class="thumbnail"><img src="../images/logo2.png"/></div>
    <form action="/dashboard" method="get" class="login-form">
        <input type="email" name="username" placeholder="username" required autofocus/>
        <input type="password" name="password" placeholder="password"/>
        <button type="submit">Login</button>
    </form>
</div>


</body>
</html>
