<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Manager</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        #foreach($map in $dataList)
            <tr>
                <td>$map.get("name")</td>
                <td>$map.get("description")</td>
                <td>$map.get("time_stamp")</td>
                <td>$map.get("lastname"), $map.get("firstname")</td>
                <td>
                    #if($map.get("in") == 1) ## user is in the given project
##                        change the /chat to /project later and update the chatCOntroller accordingly
                        <a href="/chat?projectId=$map.get("projectid")" <div class="btn btn-primary col-sm-12">Project Page</div></a>
                    #else
                        <div class="btn btn-success col-sm-12 requests" data-request="$map.get("projectid")">Request Access</div>
                    #end

                </td>
            </tr>
        #end
    </tbody>
</table>
#if($viewType == 1) ## only professors can create projects
    <button type="button" class="pull-right btn btn-success"  data-toggle="modal" data-target="#compose">Create Project</button>



<div class = "modal" id="compose" tabindex="-1">
    <div class = "modal-dialog" >
        <div class = "modal-content">
            <div class = "modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden = "true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Project</h4>
            </div>

        ##                         use jquery to grab the input values below using the .val() function
        ##                        e.g $('#newFirstName').val() Note: to select a class in jquery
        ##                        use: $('.className').someMethod(). To get an id use: $('#idName').someMethod())
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="toInput">Name</label>
                        <input type="text" class="form-control"
                               id="toInput" placeholder="Enter project name"/>
                    </div>
                    <div class="form-group">
                        <label for="subjectInput">Description</label>
                        <input type="text" class="form-control"
                               id="subjectInput" placeholder="Enter project Description"/>
                    </div>
                    <div class="form-group">
                        <label for="messageInput">Manager</label>
                        <input type="text" class="form-control"
                               id="messageInput" placeholder="Enter project manager (email address)"/>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Discard
                </button>
                <button id="submitEmailButton" data-dismiss="modal"  type="button" class="btn btn-primary">
                    Submit for Approval
                </button>
            </div>
        </div>
    </div>
</div>
#end

