
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>About</title>
    <link href="../css/dashboard.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Carrois Gothic SC">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Playball">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="../../Web Development/jquery.infinitecarousel3.min.js"></script>
    <script type="text/javascript" src="../../Web Development/easing.js"></script>
    <script src="../../Web Development/finalProject/javascript.js"></script>
    <script>
        $(function(){
            $('#carousel').infiniteCarousel({
                imagePath: '../images/',
                transitionSpeed:300,
                displayTime: 5000,
                internalThumbnails: false,
                thumbnailType: 'buttons',
                customClass: 'myCarousel',
                progressRingColorOpacity: '0,0,0,.9',
                progressRingBackgroundOn: false,
                margin: 10,
                easeLeft: 'easeOutExpo',
                easeRight:'easeOutQuart',
                inView: 1,
                advance: 1,
                autoPilot: true,
                prevNextInternal: true,
                autoHideCaptions: false
            });

        });

    </script>
    <style>
        .outline {
            border:solid black medium;
            background-color: black;
        }

        #wrapper {width: 900px;
            margin: 0 auto;
        }
    </style>
</head>

<body onLoad = "setupCanvas()">
<div id="container">
    <div id="divf" >
        <div id="diva" class="font2"> Longbottom University <p><img id="logo" src="../images/logo.png"></p></div>
    </div>

    <div>

        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/sponsor">Sponsors</a></li>
                <li><a href="/getAllProjects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </div>

    <div class="tableProjectHome">
    <table align="center" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Manager</th>
            <th>Manager Email</th>
        </tr>
        </thead>
        <tbody>
            #foreach($map in $projects)

            <tr>
                <td>$!map.name</td>
                <td>$!map.description</td>
                <td>$!map.firstname $!map.lastname</td>
                <td>$!map.email</td>
            </tr>
            #end
        </tbody>
    </table>
    </div>

</div>

</body>
</html>
