<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Manager</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        #foreach($map in $dataList)
            <tr>
                <td>$map.get("name")</td>
                <td>$map.get("description")</td>
                <td>$map.get("time_stamp")</td>
                <td>$map.get("lastname"), $map.get("firstname")</td>
                <td>
                    #if($map.get("in") == 1) ## user is in the given project
                        <div class="btn btn-primary col-sm-6">Project Page</div>
                    #else
                        <div class="btn btn-success col-sm-6">Request Access</div>
                    #end

                </td>
            </tr>
        #end
    </tbody>
</table>