
        <div class="col-xs-6 col-sm-2 placeholder">

        </div>
        <div class="col-xs-6 col-sm-4 placeholder">

            <button type="button" id="button" class="btn sm-btn btn-primary col-sm-12">
                <span  class="glyphicon glyphicon-folder-open icon" ></span> Projects</button>

        </div>

        <div class="col-xs-6 col-sm-4 placeholder">

            <button id="emailButton"  type="button" class="btn sm-btn btn-primary col-sm-12">
                <span class="glyphicon glyphicon-envelope icon" ></span> Email</button>
        </div>
        <div class="col-xs-6 col-sm-2 placeholder">

        </div>

        <div id="user">

            <div class="pull-right col-xs-6 col-sm-3 placeholder">


                <button id="userCreateButton" type="button" data-toggle="modal" data-target="#userCreateFormButton" class="btn sm-btn btn-primary col-sm-12">
                    <span class="glyphicon glyphicon-user icon" ></span> Create User</button>

            </div>
        </div>

