<div class="col-xs-6 col-sm-2 placeholder">

</div>
<div class="col-xs-6 col-sm-4 placeholder">

    <a href="#"><span id="button" class="glyphicon glyphicon-folder-open large" ></span></a>
    <h4>Projects</h4>

</div>

<div class="col-xs-6 col-sm-4 placeholder">

    <span class="glyphicon glyphicon-envelope large" ></span>
    <h4>Email</h4>

</div>
<div class="col-xs-6 col-sm-2 placeholder">

</div>